a{color:blue;TEXT-DECORATION:none;}
a:hover{color:blue;TEXT-DECORATION:underline;}
button{HEIGHT:22px;}
table{border-collapse:collapse;border-spacing:0;}
th,td{padding:0;}
.s1{width:95px;height:15px;}
.s2{width:65px;height:15px;}
.s3{width:30px;height:18px;}
.s4{width:95px;}
.s5{width:350px;height:75px;}
.s6{width:350px;}
.bi1{background-image:url(images/bg1.gif);}
.bc1{background-color:#4791c5;}
.bc2{background-color:#d8d8d8;}
.bc3{background-color:black;}
.bc4{background-color:linen;}
.v1{vertical-align:top;}
.v2{vertical-align:middle;}
.v3{vertical-align:bottom;}
.h1{text-align:left;}
.h2{text-align:center;}
.h3{text-align:right;}
.pad1{padding-left:2px;padding-right:2px;padding-top:5px;padding-bottom:5px;}
.pad2{padding-left:10px;padding-right:10px;padding-top:20px;padding-bottom:20px;}
.f12{font-size:12px;}
.f12w{font-size:12px;color:white;}
.f12b{font-size:12px;color:#004080;}
.f13{font-size:13px;}
.f13b{font-size:13px;color:#004080;}
.f13w{font-size:13px;color:white;}
.f13b{font-size:13px;color:#004080;}
.f14{font-size:14px;}
.f18{font-size:18px;}
.f18b{font-size:18px;color:#004080;}
.ih{width:0;height:0;visibility:hidden}
.rect_top{border-top-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:#CC9933;border-right-color:#CC9933;border-bottom-color:#CC9933;border-left-color:#CC9933;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;}
.rect_left{border-top-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:#CC9933;border-right-color:#CC9933;border-bottom-color:#CC9933;border-left-color:#CC9933;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;}
.rect_right{border-top-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:none;border-top-color:#CC9933;border-right-color:#CC9933;border-bottom-color:#CC9933;border-left-color:#CC9933;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;}
.mid01{border-top-width:1px;border-top-style:none;border-right-style:solid;border-bottom-style:none;border-left-style:solid;border-top-color:#708098;border-right-color:#708098;border-bottom-color:#708098;border-left-color:#708098;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;}
.mid02{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:none;border-bottom-style:none;border-left-style:none;border-top-color:#6B7FAB;border-right-color:#6B7FAB;border-bottom-color:#6B7FAB;border-left-color:#6B7FAB;}
.mid03{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:none;border-bottom-style:solid;border-left-style:none;border-top-color:#6B7FAB;border-right-color:#6B7FAB;border-bottom-color:#6B7FAB;border-left-color:#6B7FAB;}
.mid04{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:none;border-left-style:none;border-top-color:#6B7FAB;border-right-color:#6B7FAB;border-bottom-color:#6B7FAB;border-left-color:#6B7FAB;}
.mid05{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:solid;border-bottom-style:solid;border-left-style:none;border-top-color:#6B7FAB;border-right-color:#6B7FAB;border-bottom-color:#6B7FAB;border-left-color:#6B7FAB;}
